<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
    {{ site.author.name }}
    {% else %}
      {{ site.author.name }} &middot; {{ page.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl}}/assets/css/app.css ">

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl}}/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl}}/assets/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl}}/assets/apple-touch-icon.png">
</head>
