--- 
title: "Leonard Thiele" 
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <img src="{{ site.baseurl}}/assets/ProfilePicture.jpg" class="img-responsive profile-img">
                </div>
                <div class="col-lg-8 vertical-center">
                    <div class="">
                        <h3 class="mt-5">Hi, I'm</h3>
                        <h1>Leonard Thiele</h1>
                        <p class="lead">I love to discover new technologies, programming languages and keep learning new things. I can tell computers what they should do... and sometimes they'll even do it!</p>
                        <div class="col-lg-8 mt-4">
                            <a href="https://github.com/leonardthiele" target="blank">
                                <img src="assets/svg/github.svg" class="img-responsive">
                            </a>
                            <a href="https://twitter.com/thiele_leonard" target="blank">
                                <img src="assets/svg/twitter.svg" class="img-responsive">
                            </a>
                            <a href="http://www.linkedin.com/in/leonard-thiele-85a805151" target="blank">
                                <img src="assets/svg/linkedin.svg" class="img-responsive">
                            </a>
                            <a href="mailto:leonardthiele@googlemail.com">
                                <img src="assets/svg/envelope.svg" class="img-responsive">
                            </a>
                            <a href="http://www.blockinfo.de" target="blank">
                                <img src="assets/BlockInfo_Logo_BW.jpg" class="img-responsive">
                            </a>
                            <a href="{{ site.baseurl }}/blog/">
                                <img src="assets/svg/blog.svg" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>